body {
	font-size: 14px;
}
ul {
	padding-top: 10px;
	padding-left: 0;
	margin-top: 0;
}
li {
	margin-bottom: 10px;
}
span {
	cursor: pointer;
	text-align: left;
	margin-bottom: 10px;
}
.selected {
	border: 1px solid #1d78cc;
	border-radius: 90px;
	color: #1d78cc;
	padding: 3px 10px;
}
a {
	padding: 10px;
	cursor: pointer;
}
.weeksContainer h3.isActive {
	color: darkgoldenrod;
}
.weeksContainer {
	overflow: scroll;
	padding-bottom: 15px;
}
.weeksContainer h3 {
	display: inline;
	padding: 10px;
	cursor: pointer;
}
.picksContainer {
	padding-bottom: 15px;
}
.admin {
	background-color: #73ceca;
}
.admin .selected {
	border-color: green;
	color: green;
}
.correct {
	border-color: green;
	color: green;
}
.wrong {
	border-color: red;
	color: red;
}
